:root{
	--black:#444;
	--bg:#fff;
	--light-bg:#eee;
	--green-bg:#008000;
	--light-gray:#D3D3D3;
	--btn-color:#DC143C;
	--red:#FF0000;
	--facebook:#1E90FF;
	--twitter:#00CED1;
	--insta:#FF1493;
	--linkedin:#0000CD;
	--border:1px solid rgba(255,255,255,.9);
	--box-shadow:0 5px 10px 0 rgba(0,0,0,.9)
}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	transition: all .2s linear;
	height: 9000px;
}

body.active{
	--black:#eee;
	--bg:#262626;
	--light-bg:#000;
	--light-gray:#2F4F4F;
}

section{
	padding: 5rem 5%;
}

header .header-1 .toggler.active .toggleDarkLight::before{
	right: 10px;
	transition: 1s;
}

header .header-1{
	display: flex;
	justify-content: space-between;
	padding: 1rem 5%;
	background: var(--bg);
	align-items: center;
	transition: 1s;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 200;
}

header .header-1 .logo{
	color: var(--black);
	text-decoration: none;
	font-size: 2rem;
}

header .header-1 .navbar{
	display: flex;
}

header .header-1 .navbar a{
	text-decoration: none;
	color: var(--black);
	margin-right: 20px;
	visibility: visible;
	position: relative;
	display: inline-block;
	transition: .2s;
}

header .header-1 .navbar a:hover::before{
	content: '';
	background: var(--bg);
	width: 100%;
	height: 4px;
	color: var(--bg);
	position: absolute;
	bottom: -7px;
	transition: .2s;
	border-radius: 5px;
}

header .header-1 .toggler .toggleDarkLight{
	background: var(--black);
	width: 70px;
	height: 24px;
	border-radius: 20px;
	position: relative;
	display: block;
	position: relative;
}

header .header-1 .toggler .toggleDarkLight::before{
	content: '';
	background: var(--bg);
	width: 20px;
	height: 20px;
	color: var(--bg);
	position: absolute;
	border-radius: 50%;
	top: 2px;
	left: 5px;
	transition: 1s;
}

header .header-1 .toggler.active .toggleDarkLight::before{
	left: 45px;
}

header .header-1 .burger{
	display: none;
	cursor: pointer;
}

header .header-1 .bars1{
	background: var(--black);
	width: 50px;
	height: 5px;
	margin: 5px;
	border-radius: 5px;
	transition: 1s;
}

header .header-1 .bars2{
	background: var(--black);
	width: 50px;
	height: 5px;
	margin: 5px;
	border-radius: 5px;
	transition: 1s;
}

header .header-1 .bars3{
	background: var(--black);
	width: 50px;
	height: 5px;
	margin: 5px;
	border-radius: 5px;
	transition: 1s;
}

header .header-1 .bars4{
	background: var(--black);
	width: 50px;
	height: 5px;
	margin: 5px;
	border-radius: 5px;
	transition: 1s;
}

/* Change */
header .header-1 .burger.change .bars1{
	transform:translateY(20px) ;
	transition: 1s;
	opacity: 0;
}

header .header-1 .burger.change .bars2{
	transform:rotate(45deg) translate(8px, 8px);
	transition: 1s;
}

header .header-1 .burger.change .bars3{
	transform:rotate(-45deg);
	transition: 1s;
}

header .header-1 .burger.change .bars4{
	transform:translateY(-20px) ;
	transition: 1s;
	opacity: 0;
}
/* End Change */


/* Sidebar */

header  .hiddenNavbar{
	background: var(--bg);
	width: 100%;
	height: 100%;
	position: fixed;
	left: 100%;
	transition: 1s ease-in-out;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

header .hiddenNavbar.change{
	left: 0%;
	transition: 1s ease-in-out;
}

header .hiddenNavbar a{
	color: var(--black);
	text-decoration: none;
	font-size: 2rem;
	line-height: 40px;
}

header .hiddenNavbar a:hover{
	letter-spacing: 2px;
	transform: translateX(10px);
}

.banner{
	background: var(--bg);
	transition: 1s;
}

.banner .sci{
	position: fixed;
	left: -100px;
}

.banner .sci ul{
	list-style: none;
}

.banner .sci ul li{
	margin-top: 5px;
}

.banner .sci ul li i{
	font-size: 1.5rem;
	margin-top: 3px;
	color: var(--black);
}

.banner .sci ul li:hover{
	transform: translateX(30px);
}

.banner .sci ul li:nth-child(1){
	background: var(--facebook);
	padding: 5px 5px 5px 100px;
	border-radius: 0 5px 5px 0;
}

.banner .sci ul li:nth-child(2){
	background: var(--twitter);
	padding: 5px 5px 5px 100px;
	border-radius: 0 5px 5px 0;
}

.banner .sci ul li:nth-child(3){
	background: var(--insta);
	padding: 5px 5px 5px 100px;
	border-radius: 0 5px 5px 0;
}

.banner .sci ul li:nth-child(4){
	background: var(--linkedin);
	padding: 5px 5px 5px 100px;
	border-radius: 0 5px 5px 0;
}


.banner .content{
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
}

.banner .content .tagline{
	max-width: 600px;
}

.banner .content p{
	color: var(--black);
	font-size: 2rem;
	text-transform: capitalize;
	margin-top: 20px;
}

.banner .content h1{
	font-size: 4rem;
	margin-top: 10px;
	color: var(--red);
	font-weight: 800;
	opacity: 80%;
}

.banner .content h2{
	color: var(--black);
	font-size: 2.5rem;
	margin-bottom:30px;
}

.banner .content .tagline .btn{
	background: var(--btn-color);
	padding: 15px 25px;
	color: var(--black);
	text-decoration: none;
	text-transform: capitalize;
	font-size: 1.2rem;
}

.banner .content .tagline .btn:hover{
	letter-spacing: 3px;
	opacity: 0.9;
}

.banner .imgBx{
	height: 500px;
	width: 400px;
	position: relative;
}

.banner .imgBx img{
	height: 100%;
	width: 100%;
}


/* Skill set */
.skillset{
	background: var(--bg);
	transition: 1s;
}

.skillset ul{
	display: flex;
	list-style: none;
	justify-content: space-around;
}

.skillset ul li i{
	font-size: 4rem;
	color: var(--black);
}
/* Akhir skillset */


/* Service */
.service .textHeader{
	text-align: center;
}

.service .textHeader h5{
	font-size: 1.5rem;
	text-transform: capitalize;
	color: var(--btn-color);
}

.service .textHeader h3{
	font-size: 2.5rem;
	margin-top: 10px;
	text-transform: capitalize;
	color: var(--black);
}

.service .textHeader p{
	font-size: 1rem;
	margin-top: 15px;
	color: var(--black);
}

.service{
	background: var(--bg);
	transition: 1s;
}

.service .content{
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 10fr));
	grid-gap: 20px;
}

.service .content .cards{
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.service .content .cards:hover{
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.09);
}

.service .content .cards .textService{
	max-width: 300px;
}

.service .content .cards .textService h1{
	margin-top: 20px;
	color: var(--black);
}

.service .content .cards .textService p{
	margin-top: 10px;
	color: var(--black);
	margin-bottom: 30px;
}

.service .content .cards .textService .btn{
	color: var(--black);
	text-decoration: none;
	text-transform: capitalize;
	font-size: 1.4rem;
}

.reveal{
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 1s ease;
}

.reveal.active{
	transform: translateY(0px);
	opacity: 1;
}

.works{
	background: var(--bg);
	transition: 1s;
}

.works .textHeader{
	text-align: center;
	font-size: 3rem;
	font-weight: 500;
	text-transform: capitalize;
}

.works .textHeader h3{
	color: var(--black);
}

.works .content{
	width: 100%;
	position: relative;
}

.works .content ul{
	list-style: none;
	display: flex;
	justify-content: center;
	margin-top: 30px;
	color: var(--black);
	margin-bottom: 70px;
	flex-wrap: wrap;
	align-items: center;
}

.works .content ul li{
	background: var(--black);
	padding: 10px 20px;
	margin-right: 20px;
	color: var(--bg);
	text-transform: capitalize;
	margin-top: 10px;
	cursor: pointer;
}

.works .content .recentWorks{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	transition: 1s;
}

.works .content .recentWorks .imgBx{
	width: 350px;
	height: 350px;
	position: relative;
	margin-top: 10px;
	transition: 1s;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.09);
	padding: 10px;
	overflow: hidden;
}

.works .content .recentWorks .imgBx:hover{
	transform: translateY(-10px);
}


.works .content .recentWorks .imgBx img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 1s;
}

.recentWorks .itmBx.hide{
	display: none;
}

.recentWorks .imgBx:hover .overlay{
	background: rgba(8, 134, 218, 0.9);
	position: absolute;
	width: 330px;
	height: 330px;
	top: 10px;
	left: 10px;
	transition: 1s ease-in-out;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.works .content .recentWorks .imgBx span{
	margin-right: 15px;
}

.works .content .recentWorks .imgBx span a{
	font-size: 1.8rem;
	color: #fff;
}
































@media(max-width:991px){
	.banner .sci{
		display: none;
	}
}




@media(max-width:768px){
	header .header-1 .navbar a{
		text-decoration: none;
		color: var(--light-bg);
		margin-right: 20px;
		display: none;
	}
	
	header .header-1 .burger{
		display: block;
	}
	
	header .header-1 .toggler .toggleDarkLight{
		display: none;
	}

	header  .hiddenNavbar{
		visibility: visible;
		z-index: 100;
	}

	header .toggleDarkLightMobile{
		background: var(--black);
		width: 80px;
		height: 30px;
		border-radius: 20px;
		position: relative;
	}
	header .toggleDarkLightMobile:before{
		content: '';
		background: var(--bg);
		height: 27px;
		width: 27px;
		border-radius: 50%;
		position: absolute;
		left: 3px;
		top: 2px;
		transition: 1s;
	}

	header .togglerMobile.active .toggleDarkLightMobile::before{
		left: 45px;
		transition: 1s;
	}

	.banner .content{
		display: flex;
		position: relative;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap-reverse;
	}

	.banner .content{
		text-align: center;
	}

	.banner .imgBx{
		margin-left: 90px;
	}
	
}

@media(max-width:560px){
	.banner .imgBx{
		margin-left: 10px;
	}
}